#map {
    height: 100vh;
    width: 100%;
    z-index: 0;
}

#grid-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

body {
    margin: 0;
    overflow: hidden;
}
/*  MAP MARKER STYLES  */
.map-marker {
    background-color: #3388ff; 
    border: 3px solid white;    
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    transition: opacity 0.3s ease;
}
.map-marker::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #3388ff;
    animation: pulsar 2s infinite ease-out;
}
.marker-hidden {
    opacity: 0 !important;
    pointer-events: none; 
}
/* MAP GRID */
.grid-line {
    stroke: red; 
    stroke-width: 0.5;
    pointer-events: none; 
}
#center-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000; 
    padding: 10px 15px;
    background: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    font-weight: bold;
    pointer-events: auto; 
}

#center-btn:hover {
    background: #f0f0f0;
}